*{

}
body{
    overflow: scroll;
}
.bg-custom{
    background-color: #6b4701;
}
.bg-custom50{
    background-color: rgba(65, 54, 1, 0.8);
}
.text-custom{
    color: #6b4701;
}
.text-custom1{
    color: #f9c901;
}